.image-slider {
	position:relative;
	display: inline-block;
	line-height: 0;
}

.image-slider > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 15px;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

.image-slider img {
	user-select: none;
	max-width: 800px;
}
